// Mixins

// Style

$__white: #ffffff;
$__black: #202020;
$__red: #f25353;

@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Regular.ttf);
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Yan;
  src: url(../fonts/Yantramanav/Yantramanav-Bold.ttf);
  font-weight: bold;
}

.donatio-selector {
  border: 5px solid black;
}

.donatio-selector {
  border: 1px solid #c8c8c8;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.donatio-selector.active {
  border: 1px solid #49c58b;
}

.donatio-selector .donatio-title {
  text-align: left;
  font-size: 14px;
  color: #ff5252;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  position: relative;
  left: -10px;
  top: -3px;
}

.donatio-selector .donatio-donation-prompt {
  text-align: center;
  font-size: 12px;
  color: #434343;
}

.donatio-selector .price-to-donate {
  color: #49c58b;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
}

.donatio-selector .slider-left-label,
.donatio-selector .slider-right-label,
.donatio-selector .slider-widget {
  display: inline-block;
  vertical-align: top;
}

.donatio-selector .slider-left-label,
.donatio-selector .slider-right-label {
  width: 10%;
}

.donatio-selector .slider-left-label {
  text-align: left;
}

.donatio-selector .slider-right-label {
  text-align: right;
}

.donatio-selector .slider-widget {
  width: 75%;
  text-align: center;
}

.donatio-selector .slider-widget input {
  width: 80%;
}

.slider-area {
  width: 95%;
  margin: 0 auto;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #7a7a7a;
  height: 2px;
}

input[type="range"]::-moz-range-track {
  background: #7a7a7a;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #7a7a7a;
  margin-top: -5px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: #7a7a7a;
  margin-top: -5px;
  border-radius: 50%;
}

.right-cell {
  text-align: right;
}

.left-mimic-cell {
  display: inline-block;
  width: 60%;
}
.right-mimic-cell {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.active-donation-text {
  color: #49c58b !important;
}

.charity-of-day-area {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.charity-of-day-area .name {
  font-size: 12px;
}

.charity-of-day-area .label {
  font-weight: bold;
  font-size: 10px;
}

.background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $__white;
  color: $__black;
  font-family: OpenSans;
  background: linear-gradient(290deg, #e196b3, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(7deg, #93a0c8, rgba(0, 255, 0, 0) 70.71%);
}

.background-container .center-container {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}

.donatio-navbar {
  color: $__black;
}

.donatio-navbar .level-area {
  color: $__white;
  background-color: $__black;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 58px;
  display: inline-block;
  margin-left: 10px;
}

.donatio-navbar .medals-area {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin-left: 15px;
  position: relative;
  top: 10px;
}

.donatio-navbar .left,
.donatio-navbar .right {
  display: inline-block;
  vertical-align: top;
}

.donatio-navbar .left .logo-area,
.donatio-navbar .left .name-area {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
}

.donatio-navbar .left .name-area {
  font-size: 1rem;
  margin-left: 15px;
  color: $__black;
  font-family: Yan;
  font-weight: 600;
}

.reward-slider-container {
}

.slider-timer-container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 5px;
  width: 100%;
  border-radius: 5px;
}

.slider-timer-filler {
  background-color: $__black;
  height: 5px;
  width: 3%;
  border-radius: 5px;
}

.rewrd-slider-content-container {
  width: 100%;
  height: 470px;
  position: relative;
  left: 0;
}

.experience-bar-container {
  /* margin-top: 200px; */
  position: relative;
  top: 200px;
}

.experience-bar-container div {
  display: inline-block;
  vertical-align: top;
}

.experience-bar-container .level-area {
  width: 25%;
}

.experience-bar-container .level-area.level-left {
  text-align: right;
  position: relative;
  left: 5px;
  z-index: 2;
}

.experience-bar-container .level-area.level-left .level-circle {
  background-color: #959fc7;
}

.experience-bar-container .level-area.level-right .level-circle {
  background-color: #959fc7;
}

.experience-bar-container .level-area.level-right {
  text-align: left;
  position: relative;
  z-index: 2;
  right: 5px;
}

.experience-bar-container .level-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.experience-bar-container .experience-bar {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50%;
  position: relative;
  top: 15px;
  z-index: 0;
}

.experience-bar-container .experience-bar .experience-bar-filler {
  height: 10px;
  width: 50%;
  background-color: #959fc7;
  position: relative;
  z-index: 1;
}

.reward-pill {
  background-color: white;
  border-radius: 8px;
  color: $__black;
  width: 250px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: border 0.25s;
  border: 1px solid white;
}

.reward-pill:hover {
  border: 1px solid $__black;
}

.reward-pill .reward-icon,
.reward-pill .reward-text {
  display: inline-block;
  vertical-align: top;
}

.reward-pill .reward-icon img {
  position: relative;
  top: 10px;
}

.reward-pill .reward-icon {
  width: 20%;
  text-align: center;
  height: 100%;
  background-color: $__black;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.reward-pill .reward-text {
  width: 80%;
  line-height: 50px;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding-left: 15px;
}

.reward-preview-area {
  margin-top: 35px;
}

.medal-viewer {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  top: 90px;
}

.medal-viewer .image-area {
  height: 45%;
}

.medal-viewer .text-area {
  position: relative;
  height: 35px;
  font-size: 1.4rem;
  font-family: Yan;
  font-weight: 600;
  margin-top: 20px;
  font-family: Yan;
}

.medal-viewer .description-area {
  font-size: 0.9rem;
  color: $__black;
}

.twitter-button {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.twitter-button .icon-area {
  width: 40px;
  height: 100%;
  text-align: center;
  position: relative;
  top: 4px;
}

.twitter-button .icon-area,
.twitter-button .text-area {
  display: inline-block;
  vertical-align: top;
}

.twitter-button .text-area {
  font-size: 1rem;
  line-height: 40px;
  margin-left: 10px;
  color: #2290d4;
  font-weight: bold;
}

.twitter-status-update {
  width: 100%;
  height: 90px;
  font-size: 1rem;
  background-color: none;
  border: 2px solid $__black;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}

.twitter-status-update textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  color: $__black;
  outline: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-family: OpenSans;
}

.twitter-status-update .send-tweet-button {
  position: absolute;
  height: 45px;
  background-color: $__black;
  color: white;
  line-height: 45px;
  right: -2px;
  bottom: -2px;
  padding: 0 20px;
  cursor: pointer;
  font-family: OpenSans;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.05);
}

.tweet-sent-message {
  font-size: 1.5rem;
  color: $__black;
  text-align: center;
  margin-top: 30px;
}

.name-medal-icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.medal-icon-hover-desc {
  position: absolute;
  background-color: $__black;
  bottom: -23px;
  color: $__white;
  height: 23px;
  line-height: 23px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.25s;
  opacity: 0;
}

.name-medal-icon:hover .medal-icon-hover-desc {
  opacity: 1;
  bottom: -33px;
}

// BREAK

.App {
  font-family: sans-serif;
  margin: 50px;
}

.logo-header .logo-box {
  width: 35px;
  height: 35px;
}

.logo-header .logo-box img {
  width: 100%;
  height: 100%;
}

.logo-header .logo-box,
.logo-header .logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-header .logo-text {
  font-size: 1.3 rem;
  font-weight: 600;
  margin-left: 10px;
}

.parallel-btn {
  background-color: #202020;
  width: 180px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  transform: skew(-40deg, 0deg);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.parallel-btn.smaller-widget-button {
  margin: 30px auto 15px;
}

.parallel-btn .btn-text {
  transform: skew(40deg, 0deg);
}

.widget-container .paragraph-area {
  margin: 10px 30px 0px 30px;
  font-size: 0.9rem;
}

.widget-container {
  background-color: #999fc6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(90deg, #999fc6, #c999b9);
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.scroll-area {
  display: flex;
  flex-direction: row;
  margin: 10px auto 0px;
  width: 90%;
}

.slider-element {
  width: 100%;
  position: relative;
  top: -5px;
}

.donation-amount {
  text-align: center;
  color: #52ecbd;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 0px;
}

.label-value {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 10px;
  position: relative;
  transform: scale(0.9);
}

.label-value .label-area {
  background-color: #202020;
  width: 110px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 0.7rem;
  transform: skew(-40deg, 0deg);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  left: -10px;
}

.label-value .label-area .label-text {
  transform: skew(40deg, 0deg);
}

.label-value .label-value-inp {
  color: #202020;
  background-color: white;
  height: 30px;
  line-height: 30px;
  width: 135px;
  position: absolute;
  top: 2px;
  left: 95px;
  transform: skew(-40deg, 0deg);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.label-value .label-value-inp .label-text {
  transform: skew(40deg, 0deg);
  margin-left: 15px;
}

.widget-cancel-button {
  color: #2732d5;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  cursor: pointer;
  transition: color 0.25s;
}

.widget-cancel-button:hover {
  color: #19218c;
}

.donatio-larger-widget-intro-area {
  display: flex;
  margin: 15px 20px 0;
}

.donatio-larger-widget-intro-area .widget-paragraph-area {
  flex-grow: 3;
}

.donatio-larger-widget-intro-area .widget-button-area {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 10px;
}

.larger-donation-info-area {
  display: flex;
  margin: 10px 0;
  align-items: center;

  .donatio-donation-value {
    flex-grow: 1;
    text-align: center;
    color: #52ecbd;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 0px;
  }

  .donatio-donation-charity {
    flex-grow: 1;
  }
}

.a-donatio-color-price {
  color: #49c58b !important;
}
