.donatio-selector {
  border: 5px solid black;
}

.donatio-selector {
  border: 1px solid #C8C8C8;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.donatio-selector.active {
  border: 1px solid #49C58B;
}

.donatio-selector .donatio-title {
  text-align: left;
  font-size: 14px;
  color: #FF5252;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  position: relative;
  left: -10px;
  top: -3px;
}

.donatio-selector .donatio-donation-prompt {
  text-align: center;
  font-size: 12px;
  color: #434343;
}

.donatio-selector .price-to-donate {
  color: #49C58B;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
}

.donatio-selector .slider-left-label,
.donatio-selector .slider-right-label,
.donatio-selector .slider-widget {
  display: inline-block;
  vertical-align: top;
}

.donatio-selector .slider-left-label,
.donatio-selector .slider-right-label {
  width: 10%;
}

.donatio-selector .slider-left-label {
  text-align: left;
}

.donatio-selector .slider-right-label {
  text-align: right;
}

.donatio-selector .slider-widget {
  width: 75%;
  text-align: center;
}

.donatio-selector .slider-widget input {
  width: 80%;
}

.slider-area {
  width: 95%;
  margin: 0 auto;
}

input[type="range"]::-webkit-slider-runnable-track {
 background: #7A7A7A;
 height: 2px;
}

input[type="range"]::-moz-range-track {
 background: #7A7A7A;
 height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 height: 15px;
 width: 15px;
 background: #7A7A7A;
 margin-top: -5px;
 border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
 height: 15px;
 width: 15px;
 background: #7A7A7A;
 margin-top: -5px;
 border-radius: 50%;
}

.right-cell {
  text-align: right;
}

.left-mimic-cell {
  display: inline-block;
  width: 60%;
}
.right-mimic-cell {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.active-donation-text {
  color: #49C58B !important;
}

.charity-of-day-area {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.charity-of-day-area .name {
  font-size: 12px;
}

.charity-of-day-area .label {
  font-weight: bold;
  font-size: 10px;
}

@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf)
}

.background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #332E41;
  color: white;
  font-family: WorkSans;
}

.background-container .center-container {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}

.donatio-navbar {
  color: white;
}

.donatio-navbar .level-area {
  color: #332E41;
  background-color: white;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 58px;
  display: inline-block;
  margin-left: 10px;
}

.donatio-navbar .left,
.donatio-navbar .right {
  display: inline-block;
  vertical-align: top;
}

.donatio-navbar .left .logo-area,
.donatio-navbar .left .name-area {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
}

.donatio-navbar .left .name-area {
  font-size: 1.2rem;
  margin-left: 15px;
}
